[submodule "sim/sw/compliance/riscv-tests"]
	path = sim/sw/compliance/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "src/ips/sdspi"]
	path = src/ips/sdspi
	url = https://github.com/ZipCPU/sdspi.git
